<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/celebrities">celebrities</a>
      <a href="/celebrities/create">new celebrity</a>
      <a href="/movies/">movies</a>
      <a href="/movies/create">new movie</a>
    </nav>
    {{{body}}}
  </body>
</html>